/*CSS for homepage.fxml*/

.tool-bar{
    -fx-background-color: #262424;
    -fx-border-color:  transparent transparent #525252 transparent;
    -fx-border-width: 0 0 3 0;
}

#settingNavbar, #adminToolsNav{
    -fx-background-color: #262424;
}

.scroll-pane {
    -fx-background-color: #151515;

}

#mainOrderScroll, #orderDisplayContainer{
    -fx-background-color: #151515;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:  #22aae1;
    -fx-background-radius: 0;
}

/*CSS for homepage.fxml ends*/




/*CSS for OrderCard.fxml*/
#orderTemplate{
    -fx-background-color: transparent;
    -fx-border-color:  #22aae1;
    -fx-border-width: 2;

}

#patientNameDisplay,
#locationDisplay,
#medicationDisplay,
#doseDisplay,
#doseQuantityDisplay,
#notesDisplay{
    -fx-text-fill: white;
}
/*CSS for OrderCard.fxml Ends*/

/*CSS for DeliveryForm.fxml*/
#deliveryFormPane{
    -fx-background-color: #16191f;
}

#nameLbl,
#locationlbl,
#medDescriplbl,
#doselbl,
#doseQuantlbl,
#formDescriplbl{
    -fx-text-fill: white;
}

#firstnameText,
#lastnameText,
#locationText,
#medicationText,
#doseText,
#doseAmountText{
    -fx-background-color: #424242;
    -fx-text-fill: white;
}

#addNoteText{
    -fx-control-inner-background:#424242;
    -fx-text-fill: white;
}

/*CSS for DeliveryForm.fxml Ends*/


/*CSS for CreateUserForm.fxml*/
#adminNavBar{
    -fx-background-color: black;
}

#createUserButton{
    -fx-background-color:  #22aae1;
}

#textFieldEmployeeID,
#textFieldFirstName,
#textFieldLastName,
#textFieldEmail,
#textFieldPassword1,
#textFieldConfirmPassword
{
    -fx-background-color: #424242;
    -fx-text-fill: white;
}
/*CSS for CreateUserForm.fxml Ends*/

/**NotifyMessage.fxml file*/
#notifyPanel{
    -fx-background-color: #2f2f2f;
}

/*LoginForm.fxml CSS Stuff*/
#LogInVbox{
    -fx-background-color:  rgba(0,0,0,0.75);
}

#LoginButton{
    -fx-background-color:  #22aae1;
}

#loginPanel{
    -fx-background-color: #262626;
}

#textFieldUsername,
#textFieldPassword{
    -fx-background-color:  #424242;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;

}

/*Languagemenu faxml css*/

#languagePane{
    -fx-background-color:  #262424;
}

/***Toggle changes on homepage***/
.isToggled{
    -fx-background-color: #484848;
    -fx-text-fill: white;
}

.isNotToggled{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}